body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #0044cc;
  font-family: 'Arial', sans-serif;
}

.bench-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0044cc;
}

.bench-fullscreen h1 {
  font-size: 12rem;
  color: rgba(255, 255, 255, 0.08);
  letter-spacing: 30px;
  text-transform: uppercase;
  margin: 0;
}
